* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
}

:root {
  --black: #000;
  --gray: #5C5C5C;
  --white: #fff;
}

.h1__title {
  font: 700 64px/70px 'Montserrat';
  letter-spacing: 0em;
  color: var(--white);
}

.h2__title {
  font: 700 51px/62px 'Montserrat';
  letter-spacing: 0em;
  color: var(--white);
}

.h3__title {
  font: 700 30px/41px 'Noto Sans';
  color: var(--white);
}

.text__regular {
  font: 400 18px/25px 'Noto Sans';
  letter-spacing: 0em;
  color: var(--white);
}

.text__regular__bold {
  font: 800 18px/25px 'Noto Sans';
  letter-spacing: 0em;
  color: var(--white);
}

.link {
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.link:hover {
  -webkit-text-decoration-color: var(--white);
  -moz-text-decoration-color: var(--white);
  text-decoration-color: var(--white);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.link__image {
  cursor: pointer;
}

.hblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.vblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.body {
  background: var(--black);
  width: 100%;
  position: relative;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 100px;
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  background: var(--black);
  overflow: hidden;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1440px;
  padding: 150px 100px 85px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}

/* СТИЛИ ЗАГОЛОВКА САЙТА */

.header__hblock {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 110px;
}

.header__hblock div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hb2 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__login__text {
  margin-left: 14px;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--gray);
  -moz-text-decoration-color: var(--gray);
  text-decoration-color: var(--gray);
}

/* СТИЛИ ОСНОВОГО БЛОКА САЙТА */

.s1 {
  padding: 18px 100px;
  background: -webkit-radial-gradient(circle, rgba(96, 92, 234, 0.5) 0%, transparent 70%), 
				-webkit-radial-gradient(circle, rgba(250, 0, 255, 0.3) 0%, transparent 70%),
				-webkit-radial-gradient(circle, rgba(250, 0, 255, 0.4) 0%, transparent 60%);
  background: -moz-radial-gradient(circle, rgba(96, 92, 234, 0.5) 0%, transparent 70%), 
				-moz-radial-gradient(circle, rgba(250, 0, 255, 0.3) 0%, transparent 70%),
				-moz-radial-gradient(circle, rgba(250, 0, 255, 0.4) 0%, transparent 60%);
  background: -o-radial-gradient(circle, rgba(96, 92, 234, 0.5) 0%, transparent 70%), 
				-o-radial-gradient(circle, rgba(250, 0, 255, 0.3) 0%, transparent 70%),
				-o-radial-gradient(circle, rgba(250, 0, 255, 0.4) 0%, transparent 60%);
  background: radial-gradient(circle, rgba(96, 92, 234, 0.5) 0%, transparent 70%), 
				radial-gradient(circle, rgba(250, 0, 255, 0.3) 0%, transparent 70%),
				radial-gradient(circle, rgba(250, 0, 255, 0.4) 0%, transparent 60%);
  -moz-background-size: 170px 170px, 500px 500px, 600px 600px;
  background-size: 170px 170px, 500px 500px, 600px 600px;
  background-position: top 60% left 5%, right 30% top -40%, right -10% top -90%;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.s1b1,
.s1b2 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.s1b1__title {
  margin-top: 125px;
}

.s1b1__linetext {
  margin-top: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 30px;
}

.s1b1__text {
  max-width: 360px;
}

.s1b2 {
  text-align: right;
  padding-right: 20px;
}

.s1b2 img {
  height: 100%;
}

.s2 {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 100px;
}

.s2b1__text {
  font: normal 700 35px/70px 'Montserrat';
  color: var(--white);
}

.s2b2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 28px;
}

.s3 {
  gap: 80px;
  padding: 0 100px;
  margin-top: 170px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.s3b1,
.s3b2 {
  min-width: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  padding: 64px 80px 62px 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
}

.s3__feedback {
  font: normal 400 24px/33px 'Noto Sans';
  color: var(--white);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--gray);
  -moz-text-decoration-color: var(--gray);
  text-decoration-color: var(--gray);
}

.s4 {
  margin-top: 246px;
  padding: 0 100px;
}

.s4b1 {
  width: 65%;
  height: 500px;
  position: relative;
}

.s4b1__image_h {
  position: absolute;
  top: 0;
  right: 15%;
}

.s4b1__image_v {
  display: none;
}

.s4b2__text {
  margin-top: 24px;
  max-width: 315px;
}

.s4b2 {
  width: 35%;
  background: -webkit-radial-gradient(circle, rgba(250, 0, 255, 0.5) 0%, transparent 70%);
  background: -moz-radial-gradient(circle, rgba(250, 0, 255, 0.5) 0%, transparent 70%);
  background: -o-radial-gradient(circle, rgba(250, 0, 255, 0.5) 0%, transparent 70%);
  background: radial-gradient(circle, rgba(250, 0, 255, 0.5) 0%, transparent 70%);
  -moz-background-size: 200px 200px;
  background-size: 200px 200px;
  background-position: top -3vh left 7vw;
  background-repeat: no-repeat;
}

.s5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(55%, rgba(0, 0, 0, 0)), color-stop(80%, #000000)),
				url('../img/louis-hansel-shotsoflouis.png');
  background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 55%, #000000 80%),
				url('../img/louis-hansel-shotsoflouis.png');
  background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 55%, #000000 80%),
				url('../img/louis-hansel-shotsoflouis.png');
  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 55%, #000000 80%),
				url('../img/louis-hansel-shotsoflouis.png');
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 55%, #000000 80%),
				url('../img/louis-hansel-shotsoflouis.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center top;
  -moz-background-size: contain;
  background-size: contain;
  padding: 450px 100px 0 100px;
  margin-top: 280px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 50px;
}

.s5b1 {
  gap: 50px;
  width: 33%;
}

.s5b1 img,
.s5b2 img {
  width: 100%;
}

.s5b2 {
  width: 33%;
}

.s5b3__text {
  margin-top: 23px;
}

.s5b3 {
  width: 33%;
  padding: 0 0 80px 70px;
}

.s6 {
  width: 100%;
  padding: 0 100px;
  margin-top: 204px;
  overflow: visible;
}

.s6b1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 30%;
  -moz-box-flex: 1;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  padding: 87px 0 250px;
}

.s6b2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
  -moz-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  position: relative;
  overflow: hidden;
}

.s6b1__text {
  margin-top: 23px;
  max-width: 395px;
}

.s6b2__img1 {
  position: absolute;
  top: 35%;
  left: 32%;
}

.s6b2__img2 {
  position: absolute;
  top: 75%;
  right: 39%;
}

.s6b2__img3 {
  position: absolute;
  top: 56%;
  right: 30%;
  z-index: 1;
}

.s6b2__img4 {
  position: absolute;
  top: 47%;
  left: 16%;
}

.s6b2__img5 {
  position: absolute;
  top: 0;
  right: 17%;
}

.s6b2__img6 {
  position: absolute;
  top: 35%;
  right: 10%;
}

.s6b2__img7 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.s7 {
  width: 100%;
  margin: 220px auto 0;
  padding: 0;
  position: relative;
}

.s7b1,
.s7b2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
  -moz-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.s7b1 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #000000), color-stop(55%, rgba(0, 0, 0, 0)), color-stop(64%, #000000)), url('../img/marcela-laskoski.png');
  background: -webkit-linear-gradient(top, #000000 3%, rgba(0, 0, 0, 0) 55%, #000000 64%), url('../img/marcela-laskoski.png');
  background: -moz-linear-gradient(top, #000000 3%, rgba(0, 0, 0, 0) 55%, #000000 64%), url('../img/marcela-laskoski.png');
  background: -o-linear-gradient(top, #000000 3%, rgba(0, 0, 0, 0) 55%, #000000 64%), url('../img/marcela-laskoski.png');
  background: linear-gradient(180deg, #000000 3%, rgba(0, 0, 0, 0) 55%, #000000 64%), url('../img/marcela-laskoski.png');
  background-repeat: no-repeat, no-repeat;
  -moz-background-size: contain, contain;
  background-size: contain, contain;
  padding: 540px 0 0 195px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.s7b2 {
  background: url('../img/ash-edmonds-fsI.png');
  background-repeat: no-repeat;
  -moz-background-size: contain;
  background-size: contain;
  padding: 500px 0 0 0;
  position: relative;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.s7b1__text {
  margin-top: 23px;
  max-width: 315px;
}

.s7b1__links {
  margin-top: 58px;
}

.s7b2__nightlife {
  position: absolute;
  z-index: 1;
  top: -1%;
  right: 17%;
}

.s7b2__image {
  width: 333px;
  height: 667px;
}

.s7b2__image1 {
  position: absolute;
  width: 333px;
  height: 667px;
  bottom: -5%;
  left: -18%;
}

.s7b2__image2 {
  position: absolute;
  bottom: -38%;
  right: 10%;
}

.s8 {
  padding: 382px 100px 192px;
  margin: 0 auto;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 80px;
  position: relative;
}

.s8::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-radial-gradient(circle, rgba(250, 0, 255, 0.2) 0%,  rgba(250, 0, 255, 0.15) 40%, transparent 70%);
  background: -moz-radial-gradient(circle, rgba(250, 0, 255, 0.2) 0%,  rgba(250, 0, 255, 0.15) 40%, transparent 70%);
  background: -o-radial-gradient(circle, rgba(250, 0, 255, 0.2) 0%,  rgba(250, 0, 255, 0.15) 40%, transparent 70%);
  background: radial-gradient(circle, rgba(250, 0, 255, 0.2) 0%,  rgba(250, 0, 255, 0.15) 40%, transparent 70%);
  -moz-background-size: contain;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

.s8b1 {
  z-index: 1;
  position: relative;
}

.s8b1__arrow {
  width: 230px;
  position: absolute;
  left: 116%;
  top: 32%;
}

.s8b1__arrowtext {
  font: normal 700 21px/26px 'Montserrat';
  text-align: right;
  color: var(--white);
}

.s8b2 {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.s8b2__title {
  max-width: 390px;
}

.s8b2__text {
  max-width: 280px;
}

.s8__bg {
  position: absolute;
  z-index: 0;
}

.s8__bg1 {
  top: 35%;
  left: -5%;
}

.s8__bg2 {
  top: 35%;
  right: -6%;
}

.s8__bg3 {
  top: 57%;
  left: -18%;
}

.s8__bg4 {
  top: 54%;
  right: -16%;
}

.s9 {
  margin: 0 auto;
  width: 100%;
  padding: 0 100px;
}

.s9b1 {
  max-width: 425px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 23px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.s9b2 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative;
}

.s9b2__tb {
  font: normal 500 23px/27px 'Roboto';
  background: var(--black);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  position: absolute;
  color: var(--white);
}

.s9b2__tb1 {
  width: 270px;
  padding: 23px 22px;
  top: 35%;
  left: -1%;
}

.s9b2__tb2 {
  width: 285px;
  padding: 30px 26px;
  top: 15%;
  right: 12%;
}

.s9b2__tb3 {
  width: 190px;
  padding: 20px 24px;
  bottom: 30%;
  right: -1%;
}

.s9b2__tb4 {
  width: 180px;
  padding: 20px 25px;
  bottom: 23%;
  left: 22%;
}

.s10 {
  padding: 329px 100px 245px 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(3%, #000000), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(97%, #000000)),
				url('../img/NOTAB.png');
  background: -webkit-linear-gradient(bottom, #000000 3%, rgba(0, 0, 0, 0) 50%, #000000 97%),
				url('../img/NOTAB.png');
  background: -moz-linear-gradient(bottom, #000000 3%, rgba(0, 0, 0, 0) 50%, #000000 97%),
				url('../img/NOTAB.png');
  background: -o-linear-gradient(bottom, #000000 3%, rgba(0, 0, 0, 0) 50%, #000000 97%),
				url('../img/NOTAB.png');
  background: linear-gradient(360deg, #000000 3%, rgba(0, 0, 0, 0) 50%, #000000 97%),
				url('../img/NOTAB.png');
  background-position: top center;
}

.s11 {
  margin-top: 13px;
  gap: 23px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.s11::before {
  content: '';
  position: absolute;
  width: 350px;
  height: 350px;
  top: -60%;
  left: 25%;
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg);
  background: -webkit-radial-gradient(circle, rgba(250, 0, 255, 0.2) 0%,  rgba(250, 0, 255, 0.1) 50%, transparent 80%);
  background: -moz-radial-gradient(circle, rgba(250, 0, 255, 0.2) 0%,  rgba(250, 0, 255, 0.1) 50%, transparent 80%);
  background: -o-radial-gradient(circle, rgba(250, 0, 255, 0.2) 0%,  rgba(250, 0, 255, 0.1) 50%, transparent 80%);
  background: radial-gradient(circle, rgba(250, 0, 255, 0.2) 0%,  rgba(250, 0, 255, 0.1) 50%, transparent 80%);
  -moz-background-size: contain;
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  z-index: 0;
}

.s11__text {
  max-width: 580px;
}

.s12 {
  margin: 82px auto 0;
  padding: 0 100px;
  background: -webkit-radial-gradient(circle, rgba(250, 0, 255, 0.15) 0%, transparent 50%),
				-webkit-radial-gradient(circle, rgba(0, 102, 255, 0.15) 0%, transparent 50%);
  background: -moz-radial-gradient(circle, rgba(250, 0, 255, 0.15) 0%, transparent 50%),
				-moz-radial-gradient(circle, rgba(0, 102, 255, 0.15) 0%, transparent 50%);
  background: -o-radial-gradient(circle, rgba(250, 0, 255, 0.15) 0%, transparent 50%),
				-o-radial-gradient(circle, rgba(0, 102, 255, 0.15) 0%, transparent 50%);
  background: radial-gradient(circle, rgba(250, 0, 255, 0.15) 0%, transparent 50%),
				radial-gradient(circle, rgba(0, 102, 255, 0.15) 0%, transparent 50%);
  -moz-background-size: 500px 500px, 500px 500px;
  background-size: 500px 500px, 500px 500px;
  background-position: right -15% bottom 0, right -15% bottom 30%;
  background-repeat: no-repeat, no-repeat;
  z-index: 1;
}

.s12b1 {
  width: 818px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 23px;
  margin: 0 auto;
}

.f__inputtext {
  font: normal 400 18px/25px 'Noto Sans';
  width: 100%;
  color: var(--black);
  padding: 29px 23px;
  background: var(--white);
  border: 1px solid var(--gray);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  outline: none;
}

.f__inputtext::-webkit-input-placeholder {
  color: #BFBFBF;
}

.f__inputtext:-moz-placeholder {
  color: #BFBFBF;
}

.f__inputtext::-moz-placeholder {
  color: #BFBFBF;
}

.f__inputtext:-ms-input-placeholder {
  color: #BFBFBF;
}

.f__inputtext::-ms-input-placeholder {
  color: #BFBFBF;
}

.f__inputtext::placeholder {
  color: #BFBFBF;
}

.f__inputtext-invalid {
  outline: 2px solid red;
}

.f__inputpost {
  gap: 24px;
}

.f__inputsubmit {
  font: normal 700 24px/29px 'Montserrat';
  width: 398px;
  padding: 25px;
  background: var(--black);
  outline: 1px solid var(--gray);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  color: var(--white);
  margin-top: 37px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.f__inputsubmit:hover {
  outline: 2px solid var(--white);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.s13 {
  margin: 90px auto 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px;
}

.s13b1__text {
  font: normal 700 24px/33px 'Noto Sans';
  letter-spacing: 0.03em;
  color: var(--white);
}

.s13b2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 60px;
}

/* СТИЛИ ПОДВАЛА САЙТА */

.fb1 {
  position: relative;
}

.fb1::before {
  content: '';
  position: absolute;
  width: 450px;
  height: 450px;
  top: -100%;
  left: -100%;
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg);
  background: -webkit-radial-gradient(circle, #f101bf 50%, transparent 100%),
				 -webkit-radial-gradient(circle, #0066ff 50%, transparent 100%);
  background: -moz-radial-gradient(circle, #f101bf 50%, transparent 100%),
				 -moz-radial-gradient(circle, #0066ff 50%, transparent 100%);
  background: -o-radial-gradient(circle, #f101bf 50%, transparent 100%),
				 -o-radial-gradient(circle, #0066ff 50%, transparent 100%);
  background: radial-gradient(circle, #f101bf 50%, transparent 100%),
				 radial-gradient(circle, #0066ff 50%, transparent 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left 40%, center center;
  -moz-background-size: 100% 40%, 50% 50%;
  background-size: 100% 40%, 50% 50%;
  -webkit-filter: blur(120px);
  filter: blur(120px);
  z-index: -1;
}

.fb1__text {
  margin-top: 16px;
  text-decoration: none;
}

.fb1__feedback {
  text-decoration: none;
  z-index: 2;
}

.fb1__copyright {
  margin-top: 19px;
  text-decoration: none;
  z-index: 2;
}

.fb2__link {
  display: block;
  text-decoration: none;
  z-index: 2;
}

.fb2__link:last-of-type {
  margin-top: 25px;
}

/* СТИЛИ ПЛАШКИ COOKIES */

.cookies__alert__font {
  font: normal 400 14px/19px 'Noto Sans';
  color: var(--white);
}

.cookies__alert {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #212834;
  z-index: 99;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: -o-transform 1s ease;
  -moz-transition: transform 1s ease, -moz-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
}

.cookies__alert__show {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: -o-transform 1s ease;
  -moz-transition: transform 1s ease, -moz-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
}

.cookies__alert__container {
  max-width: 1440px;
  padding: 21px 100px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cookies__alert__btn {
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid var(--white);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 15px 50px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.cookies__alert__btn:hover {
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@supports (-webkit-appearance:none) {
  .s5 {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(55%, rgba(0, 0, 0, 0)), color-stop(80%, #000000)),
				url('../img/louis-hansel-shotsoflouis.webp');
    background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 55%, #000000 80%),
				url('../img/louis-hansel-shotsoflouis.webp');
    background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 55%, #000000 80%),
				url('../img/louis-hansel-shotsoflouis.webp');
    background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 55%, #000000 80%),
				url('../img/louis-hansel-shotsoflouis.webp');
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 55%, #000000 80%),
				url('../img/louis-hansel-shotsoflouis.webp');
  }

  .s7b1 {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #000000), color-stop(55%, rgba(0, 0, 0, 0)), color-stop(64%, #000000)), url('../img/marcela-laskoski.webp');
    background: -webkit-linear-gradient(top, #000000 3%, rgba(0, 0, 0, 0) 55%, #000000 64%), url('../img/marcela-laskoski.webp');
    background: -moz-linear-gradient(top, #000000 3%, rgba(0, 0, 0, 0) 55%, #000000 64%), url('../img/marcela-laskoski.webp');
    background: -o-linear-gradient(top, #000000 3%, rgba(0, 0, 0, 0) 55%, #000000 64%), url('../img/marcela-laskoski.webp');
    background: linear-gradient(180deg, #000000 3%, rgba(0, 0, 0, 0) 55%, #000000 64%), url('../img/marcela-laskoski.webp');
  }

  .s7b2 {
    background: url('../img/ash-edmonds-fsI.webp');
  }

  .s10 {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(3%, #000000), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(97%, #000000)),
				url('../img/NOTAB.webp');
    background: -webkit-linear-gradient(bottom, #000000 3%, rgba(0, 0, 0, 0) 50%, #000000 97%),
				url('../img/NOTAB.webp');
    background: -moz-linear-gradient(bottom, #000000 3%, rgba(0, 0, 0, 0) 50%, #000000 97%),
				url('../img/NOTAB.webp');
    background: -o-linear-gradient(bottom, #000000 3%, rgba(0, 0, 0, 0) 50%, #000000 97%),
				url('../img/NOTAB.webp');
    background: linear-gradient(360deg, #000000 3%, rgba(0, 0, 0, 0) 50%, #000000 97%),
				url('../img/NOTAB.webp');
  }
}

@media (max-width: 1023px) {
  .s2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    -webkit-box-pack: initial;
    -webkit-justify-content: initial;
    -moz-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    margin-top: 55px;
  }

  .s2b1__text {
    font-size: 24px;
    line-height: 40px;
  }

  .s3 {
    gap: 40px;
    padding: 0 40px;
  }

  .s3b1__title {
    font-size: 24px;
    line-height: 33px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 767px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: initial;
    -webkit-justify-content: initial;
    -moz-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    padding: 0 15px 24px;
    margin: 64px auto 0;
  }

  .header {
    width: 100%;
    padding: 40px 15px;
  }

  .header__hblock {
    gap: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__logo__image {
    width: 52px;
    height: 52px;
  }

  .header__logo__text {
    width: 47px;
    height: 12px;
  }

  .header__login__image {
    display: none;
  }

  .header__login__text {
    font-size: 14px;
    line-height: 19px;
  }

  .s1 {
    padding: 82px 15px 0;
    background: -webkit-radial-gradient(circle, rgba(96, 92, 234, 0.4) 0%, transparent 70%), 
					-webkit-radial-gradient(circle, rgba(250, 0, 255, 0.4) 0%, transparent 70%),
					-webkit-radial-gradient(circle, rgba(250, 0, 255, 0.5) 0%, transparent 60%);
    background: -moz-radial-gradient(circle, rgba(96, 92, 234, 0.4) 0%, transparent 70%), 
					-moz-radial-gradient(circle, rgba(250, 0, 255, 0.4) 0%, transparent 70%),
					-moz-radial-gradient(circle, rgba(250, 0, 255, 0.5) 0%, transparent 60%);
    background: -o-radial-gradient(circle, rgba(96, 92, 234, 0.4) 0%, transparent 70%), 
					-o-radial-gradient(circle, rgba(250, 0, 255, 0.4) 0%, transparent 70%),
					-o-radial-gradient(circle, rgba(250, 0, 255, 0.5) 0%, transparent 60%);
    background: radial-gradient(circle, rgba(96, 92, 234, 0.4) 0%, transparent 70%), 
					radial-gradient(circle, rgba(250, 0, 255, 0.4) 0%, transparent 70%),
					radial-gradient(circle, rgba(250, 0, 255, 0.5) 0%, transparent 60%);
    -moz-background-size: 170px 170px, 350px 350px, 400px 400px;
    background-size: 170px 170px, 350px 350px, 400px 400px;
    background-position: top 60% left 5%, right -200% top -30%, right 400% bottom -100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-clip: border-box;
    overflow: hidden;
  }

  .s1b1__title {
    margin-top: 23px;
    font-size: 35px;
    line-height: 40px;
    width: 200px;
  }

  .s1b1__linetext {
    margin-top: 24px;
  }

  .s1__line {
    display: none;
  }

  .s1b1__text {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
  }

  .s1b2 img {
    height: 322px;
    margin-right: -40%;
  }

  .s2 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 70px;
    padding: 0 15px;
  }

  .s2b1__text {
    font-size: 24px;
    line-height: 29px;
  }

  .s2b2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 24px;
  }

  .s2b2__link {
    width: 185px;
  }

  .s3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: initial;
    -webkit-justify-content: initial;
    -moz-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
    padding: 0 15px;
  }

  .s3b1,
  .s3b2 {
    width: 100%;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    padding: 39px 54px 40px 33px;
  }

  .s3b1__title {
    font-size: 24px;
    line-height: 33px;
  }

  .s3__feedback {
    font-size: 18px;
    line-height: 25px;
  }

  .s4 {
    margin-top: 80px;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 100%;
    gap: 163px;
  }

  .s4b1__image_h {
    display: none;
  }

  .s4b1 {
    width: 100%;
    height: auto;
  }

  .s4b2 {
    padding: 0 15px;
    width: 100%;
    background: -webkit-radial-gradient(circle, rgba(250, 0, 255, 0.5) 0%, transparent 70%);
    background: -moz-radial-gradient(circle, rgba(250, 0, 255, 0.5) 0%, transparent 70%);
    background: -o-radial-gradient(circle, rgba(250, 0, 255, 0.5) 0%, transparent 70%);
    background: radial-gradient(circle, rgba(250, 0, 255, 0.5) 0%, transparent 70%);
    -moz-background-size: 200px 200px;
    background-size: 200px 200px;
    background-position: top 200% left -50%;
    background-repeat: no-repeat;
  }

  .s4b1__image_v {
    display: block;
    margin: 0 auto;
    width: 173px;
  }

  .s4b2__title {
    font-size: 24px;
    line-height: 29px;
  }

  .s4b2__text {
    margin-top: 24px;
    max-width: 315px;
    font-size: 16px;
    line-height: 22px;
  }

  .s5 {
    margin-top: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(7%, rgba(0, 0, 0, 0.4)), color-stop(14%, #000000)), 
					url('../img/louis-hansel-shotsoflouis.png');
    background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.4) 7%, #000000 14%), 
					url('../img/louis-hansel-shotsoflouis.png');
    background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.4) 7%, #000000 14%), 
					url('../img/louis-hansel-shotsoflouis.png');
    background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.4) 7%, #000000 14%), 
					url('../img/louis-hansel-shotsoflouis.png');
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.4) 7%, #000000 14%), 
					url('../img/louis-hansel-shotsoflouis.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center top, center top;
    -moz-background-size: contain, contain;
    background-size: contain, contain;
    padding: 0 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 55px;
  }

  .s5b1,
  .s5b2,
  .s5b3 {
    width: 100%;
  }

  .s5b1 img,
  .s5b2 img {
    width: 287px;
    height: 576px;
  }

  .s5b1 {
    text-align: center;
    margin-top: 15px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .s5b2 {
    text-align: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .s5b3 {
    padding: 190px 0 0 0;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .s5b3__title {
    font-size: 24px;
    line-height: 30px;
  }

  .s5b3__text {
    font-size: 16px;
    line-height: 22px;
  }

  .s6 {
    margin-top: 144px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
    padding: 0;
  }

  .s6b1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0 15px;
  }

  .s6b2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-height: 300px;
  }

  .s6b1__title {
    font-size: 24px;
    line-height: 30px;
  }

  .s6b1__text {
    font-size: 16px;
    line-height: 22px;
  }

  .s6b2__img1 {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 110px;
    height: 22px;
  }

  .s6b2__img2 {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 91px;
    height: 55px;
  }

  .s6b2__img3 {
    position: absolute;
    top: 14%;
    left: 48%;
    width: 91px;
    height: 55px;
  }

  .s6b2__img4 {
    display: none;
  }

  .s6b2__img5 {
    position: absolute;
    top: 46%;
    left: -14%;
    width: 145px;
    height: 86px;
  }

  .s6b2__img6 {
    position: absolute;
    top: 0;
    right: 0;
    width: 86px;
    height: 91px;
  }

  .s6b2__img7 {
    position: absolute;
    bottom: 20%;
    left: 50%;
  }

  .s7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: 36px auto 0;
    padding: 0;
    position: relative;
  }

  .s7b1 {
    padding: 230px 15px 0 15px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .s7b1__title {
    font-size: 24px;
    line-height: 29px;
  }

  .s7b1__text {
    font-size: 16px;
    line-height: 22px;
  }

  .s7b1__links {
    margin-top: 50px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .s7b2 {
    background-position: right top;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 250px 0 0 0;
    gap: 50px;
  }

  .s7b2__nightlife {
    top: 10%;
    left: 5%;
    width: 90px;
  }

  .s7b2__image1 {
    position: static;
    width: 281px;
    height: 564px;
  }

  .s7b2__image2 {
    position: static;
    width: 281px;
    height: 564px;
  }

  .s8 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 130px;
    padding: 0 15px;
    gap: 70px;
  }

  .s8b1__image {
    width: 182px;
    height: 365px;
  }

  .s8b1__arrow {
    width: 150px;
    height: 100px;
    position: absolute;
    left: 100px;
    top: 360px;
  }

  .s8b1__arrowimage {
    -webkit-transform: translateX(80px) translateY(-30px) rotate(40deg);
    -moz-transform: translateX(80px) translateY(-30px) rotate(40deg);
    -ms-transform: translateX(80px) translateY(-30px) rotate(40deg);
    -o-transform: translateX(80px) translateY(-30px) rotate(40deg);
    transform: translateX(80px) translateY(-30px) rotate(40deg);
  }

  .s8b1__arrowtext {
    text-align: left;
    font-size: 18px;
    line-height: 22px;
  }

  .s8b2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .s8b2__title {
    font-size: 24px;
    line-height: 29px;
  }

  .s8b2__text {
    font-size: 16px;
    line-height: 22px;
  }

  .s8__bg {
    width: 178px;
    height: 41px;
  }

  .s8__bg1 {
    top: 55%;
    left: -2%;
  }

  .s8__bg2 {
    top: 55%;
    right: 2px;
  }

  .s8__bg3 {
    top: 68%;
    left: -6%;
  }

  .s8__bg4 {
    top: 68%;
    right: -6%;
  }

  .s9 {
    padding: 0 15px;
    gap: 145px;
    margin-top: 200px;
    margin-bottom: 134px;
  }

  .s9b1 {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .s9b1__title {
    font-size: 24px;
    line-height: 30px;
  }

  .s9b1__text {
    font-size: 16px;
    line-height: 22px;
  }

  .s9b2 {
    width: 100%;
  }

  .s9b2 img {
    width: 100%;
    margin-left: -20px;
  }

  .s9b2__tb {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 16px;
  }

  .s9b2__tb1 {
    width: 170px;
    padding: 12px 14px;
    top: -20%;
    left: 10%;
  }

  .s9b2__tb2 {
    width: 170px;
    padding: 15px 16px;
    top: 3%;
    right: 2%;
  }

  .s9b2__tb3 {
    width: 125px;
    padding: 13px 18px;
    bottom: -14%;
    right: 0;
  }

  .s9b2__tb4 {
    width: 110px;
    padding: 14px 15px;
    bottom: 10%;
    left: 2%;
  }

  .s10 {
    display: none;
  }

  .s11 {
    padding: 0 26px;
    margin-top: 50px;
  }

  .s11::before {
    top: -60%;
    left: -25%;
  }

  .s11__title {
    font-size: 24px;
    line-height: 30px;
  }

  .s11__text {
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    display: inline;
  }

  .s12 {
    margin-top: 49px;
    padding: 0 15px;
  }

  .s12b1 {
    width: 100%;
    gap: 16px;
    margin: 0 auto;
  }

  .f__inputtext {
    font-size: 16px;
    line-height: 22px;
    padding: 18px 11px;
  }

  .f__inputpost {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
  }

  .f__inputsubmit {
    width: 100%;
    margin-top: 40px;
  }

  .s13 {
    margin: 74px auto 0;
    gap: 45px;
  }

  .s13b2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px;
  }

  .alink,
  .glink {
    width: 185px;
    height: 60px;
  }

  .fb1 {
    text-align: center;
  }

  .fb1__copyright {
    margin-top: 9px;
  }

  .fb1__image {
    display: block;
    margin: 0 auto 17px;
  }

  .fb1__feedback,
  .fb1__text {
    display: inline;
  }

  .fb1::before {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    top: -270%;
    left: -120%;
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    transform: rotate(6deg);
    background: -webkit-radial-gradient(circle, #0066ff 0, transparent 50%),
					 -webkit-radial-gradient(circle, #f101bf 0, transparent 80%);
    background: -moz-radial-gradient(circle, #0066ff 0, transparent 50%),
					 -moz-radial-gradient(circle, #f101bf 0, transparent 80%);
    background: -o-radial-gradient(circle, #0066ff 0, transparent 50%),
					 -o-radial-gradient(circle, #f101bf 0, transparent 80%);
    background: radial-gradient(circle, #0066ff 0, transparent 50%),
					 radial-gradient(circle, #f101bf 0, transparent 80%);
    background-repeat: no-repeat, no-repeat;
    background-position: center top 30%, center top 70%;
    -moz-background-size: 50% 50%, 60% 60%;
    background-size: 50% 50%, 60% 60%;
    -webkit-filter: blur(110px);
    filter: blur(110px);
  }

  .cookies__alert__font {
    font-size: 12px;
    line-height: 16px;
  }

  .cookies__alert__container {
    max-width: 1440px;
    padding: 22px 15px;
    gap: 60px;
  }

  .cookies__alert__btn {
    padding: 16px 36px;
  }

@supports (-webkit-appearance:none) {
    .s5 {
      background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(7%, rgba(0, 0, 0, 0.4)), color-stop(14%, #000000)), 
					url('../img/louis-hansel-shotsoflouis.webp');
      background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.4) 7%, #000000 14%), 
					url('../img/louis-hansel-shotsoflouis.webp');
      background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.4) 7%, #000000 14%), 
					url('../img/louis-hansel-shotsoflouis.webp');
      background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.4) 7%, #000000 14%), 
					url('../img/louis-hansel-shotsoflouis.webp');
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.4) 7%, #000000 14%), 
					url('../img/louis-hansel-shotsoflouis.webp');
    }
}
}